<a href="https://colab.research.google.com/github/preetamjumech/truncated_svd_txta/blob/main/Preetam_Saha_09_10_2022_Movies_Compiled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Movie_Compiled.csv")
data.head()

,Rating,Date,Title,Review
0,,12 April 2012,An Unstoppable Force of Awesomeness! All Hail ...,I have got to tell anyone who will listen that...
1,,19 April 2012,They balanced everything masterfully. As Good ...,"If you're a fan of epic adventure movies, then..."
2,10.0,20 April 2012,The Avengers assembled flawlessly,I'm sorry to say The Avengers isn't a good mov...
3,9.0,16 April 2012,LA Review of 'The Avengers' (No spoilers),LA Review of 'The Avengers' (No spoilers)\r\n\...
4,10.0,2 July 2017,Bad-ass descent-amazing superhero MCU action f...,Marvel's The Avengers (2012) is an awesome des...

In [5]:
data.shape

(4502, 4)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4502 entries, 0 to 4501
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  4175 non-null   object
 1   Date    4502 non-null   object
 2   Title   4502 non-null   object
 3   Review  4402 non-null   object
dtypes: object(4)
memory usage: 140.8+ KB

In [7]:
data.Review

0       I have got to tell anyone who will listen that...
1       If you're a fan of epic adventure movies, then...
2       I'm sorry to say The Avengers isn't a good mov...
3       LA Review of 'The Avengers' (No spoilers)\r\n\...
4       Marvel's The Avengers (2012) is an awesome des...
                              ...
4497                                                  NaN
4498    "Ice Age" gives us a sabertooth tiger, a sloth...
4499    Ice Age was a very entertaining movie, with br...
4500    Ice Age, thats a good title. I was very confus...
4501    While most 3D films ("Toy Story", "Shrek" for ...
Name: Review, Length: 4502, dtype: object

In [9]:
import re

In [12]:
for i in data.Review[:20]:
  pat = re.findall(r"Permalink",i)
  print(pat)
  pat2 = re.findall(r"\d+ out of \d+ found this helpful",i)
  print(pat2)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
['Permalink']
['72 out of 112 found this helpful']
[]
[]
['Permalink']
['377 out of 667 found this helpful']
[]
[]
[]
[]
[]
[]
[]
[]
['Permalink']
['302 out of 589 found this helpful']
['Permalink']
['9 out of 12 found this helpful']
['Permalink']
['314 out of 623 found this helpful']
[]
[]
[]
[]
['Permalink']
['271 out of 547 found this helpful']
[]
[]
[]
[]

In [15]:
def clean_review(review):
  try:
    review = re.sub(r"Permalink","",review)
    review = re.sub(r"\d+ out of \d+ found this helpful","",review)
    return review
  except:
    pass

In [16]:
clean_review("hello how are you Permalink 12 out of 22 found this helpful be careful")

'hello how are you   be careful'

In [17]:
clean_review("Hello Permalink")

'Hello '

In [19]:
clean_review("I am 76 out of 23 found this helpful good")

'I am  good'

In [20]:
data_copy = data.copy()

In [21]:
data_copy["Review"] = data_copy["Review"].apply(clean_review)

In [22]:
data_copy.head()

,Rating,Date,Title,Review
0,,12 April 2012,An Unstoppable Force of Awesomeness! All Hail ...,I have got to tell anyone who will listen that...
1,,19 April 2012,They balanced everything masterfully. As Good ...,"If you're a fan of epic adventure movies, then..."
2,10.0,20 April 2012,The Avengers assembled flawlessly,I'm sorry to say The Avengers isn't a good mov...
3,9.0,16 April 2012,LA Review of 'The Avengers' (No spoilers),LA Review of 'The Avengers' (No spoilers)\r\n\...
4,10.0,2 July 2017,Bad-ass descent-amazing superhero MCU action f...,Marvel's The Avengers (2012) is an awesome des...

In [23]:
data_copy.isnull().sum()

Rating    327
Date        0
Title       0
Review    100
dtype: int64

In [26]:
for i in data_copy.Review:
  try:
    if re.findall(r"\d+ out of \d+ found this helpful",i):
      print(i)
    elif re.findall(r"Permalink",i):
      print(i)
    else:
      pass
  except:
    pass

In [28]:
data_copy[data_copy["Review"].isnull()]

,Rating,Date,Title,Review
3555,4.0,14 June 2018,Ten things about Fallen Kingdom,None
3559,5.0,8 July 2018,This franchise should go extinct.,None
3562,8.0,9 July 2018,Fine movie but as fan Im still hungry,None
3564,10.0,7 July 2018,Fun Movie - here is what you get,None
3567,10.0,16 June 2018,One button can change the (Jurassic) World!,None
...,...,...,...,...
4461,10.0,3 April 2002,Weak and Predictable,None
4480,10.0,11 April 2002,All the great makings of an (ice) cool pic,None
4485,10.0,12 December 2014,"Touch of Jungle Book and Monsters, Inc. but su...",None
4490,10.0,7 December 2006,Ice Age,None
4497,10.0,7 April 2005,The cute Factor,None

In [29]:
data_copy[data_copy["Review"].isnull()].value_counts()

Series([], dtype: int64)

In [31]:
data_rev=data_copy[~data_copy["Review"].isnull()]
data_rev.shape

(4402, 4)

In [32]:
data_rev.Rating.value_counts()

10.0    1143
1.0      719
9.0      428
8.0      301
7.0      288
6.0      252
5.0      232
3.0      225
2.0      218
4.0      202
          67
Name: Rating, dtype: int64

In [33]:
import numpy as np

In [38]:
data_rev1 = data_rev.replace(" ",np.nan)

In [39]:
data_rev1.head()

,Rating,Date,Title,Review
0,NaN,12 April 2012,An Unstoppable Force of Awesomeness! All Hail ...,I have got to tell anyone who will listen that...
1,NaN,19 April 2012,They balanced everything masterfully. As Good ...,"If you're a fan of epic adventure movies, then..."
2,10.0,20 April 2012,The Avengers assembled flawlessly,I'm sorry to say The Avengers isn't a good mov...
3,9.0,16 April 2012,LA Review of 'The Avengers' (No spoilers),LA Review of 'The Avengers' (No spoilers)\r\n\...
4,10.0,2 July 2017,Bad-ass descent-amazing superhero MCU action f...,Marvel's The Avengers (2012) is an awesome des...

In [41]:
data_rev1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4402 entries, 0 to 4501
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  4008 non-null   object
 1   Date    4402 non-null   object
 2   Title   4402 non-null   object
 3   Review  4402 non-null   object
dtypes: object(4)
memory usage: 172.0+ KB

In [42]:
data_rev1["Rating"] = data_rev1["Rating"].apply(lambda x: float(x))

In [43]:
data_rev1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4402 entries, 0 to 4501
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  4008 non-null   float64
 1   Date    4402 non-null   object
 2   Title   4402 non-null   object
 3   Review  4402 non-null   object
dtypes: float64(1), object(3)
memory usage: 172.0+ KB

In [44]:
train_data = data_rev1[~data_rev1["Rating"].isnull()]
test_data = data_rev1[data_rev1["Rating"].isnull()]

In [45]:
train_data.shape, test_data.shape

((4008, 4), (394, 4))

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train, x_val , y_train, y_val = train_test_split(train_data.iloc[:,1:],
                                                   train_data.iloc[:,0],
                                                   test_size = 0.4,
                                                   random_state = 123456)

In [59]:
x_val.shape

(1604, 3)

In [52]:
type(x_train)

pandas.core.frame.DataFrame

In [60]:
x_train.shape

(2404, 3)

In [53]:
type(y_train)

pandas.core.series.Series

In [49]:
from wordcloud import STOPWORDS

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [51]:
tfidf = TfidfVectorizer(token_pattern="[a-z']+",min_df=5,max_df=0.6,stop_words=STOPWORDS)

In [62]:
tfidf_mat_train = tfidf.fit_transform(x_train["Review"])
tfidf_mat_val = tfidf.transform(x_val["Review"])
tfidf_mat_test = tfidf.transform(test_data["Review"])

In [63]:
tfidf_mat_val.shape

(1604, 5945)

In [64]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import cohen_kappa_score

In [65]:
lr = LogisticRegression()

In [66]:
lr.fit(tfidf_mat_train,y_train)

LogisticRegression()

In [67]:
lr_pred = lr.predict(tfidf_mat_val)

In [68]:
cohen_kappa_score(lr_pred, y_val)

0.24551651948086373

In [98]:
lr_pred_test = lr.predict(tfidf_mat_test)

In [99]:
lr_pred_test

array([10., 10., 10., 10., 10., 10., 10., 10.,  9., 10., 10., 10., 10.,
       10.,  1., 10., 10., 10.,  1., 10.,  7., 10., 10., 10.,  1.,  1.,
        1.,  1.,  1.,  1.,  1., 10.,  1., 10.,  1., 10., 10., 10., 10.,
       10.,  1.,  1.,  1.,  4.,  1.,  1., 10.,  1.,  1., 10.,  7.,  1.,
       10.,  1., 10., 10.,  8., 10.,  7.,  1., 10.,  8., 10., 10.,  8.,
       10.,  7., 10., 10.,  1., 10., 10.,  8., 10., 10., 10., 10., 10.,
       10., 10.,  9., 10., 10., 10.,  7., 10.,  9., 10., 10., 10.,  1.,
       10., 10.,  1., 10.,  9., 10., 10.,  1.,  9.,  9., 10.,  8., 10.,
       10., 10., 10., 10., 10.,  8.,  7., 10.,  1., 10., 10., 10.,  9.,
       10., 10.,  9.,  9.,  1., 10., 10., 10.,  1., 10., 10., 10.,  9.,
       10., 10., 10.,  1., 10., 10.,  1.,  1., 10., 10., 10., 10., 10.,
       10., 10., 10.,  7., 10.,  1., 10., 10., 10.,  6.,  9.,  1., 10.,
       10., 10., 10., 10.,  9.,  9., 10., 10.,  1.,  9., 10., 10., 10.,
       10.,  1., 10.,  9., 10., 10., 10., 10., 10., 10.,  8., 10., 10.,
        1., 10.,  1., 10.,  1., 10.,  9., 10., 10., 10.,  1., 10., 10.,
       10.,  9.,  9.,  9., 10.,  1., 10.,  9., 10., 10., 10., 10.,  7.,
       10.,  9., 10., 10., 10.,  7., 10., 10., 10., 10., 10.,  9., 10.,
        1., 10., 10., 10.,  1., 10., 10., 10.,  1., 10.,  7., 10.,  1.,
        9., 10., 10., 10., 10.,  1., 10., 10., 10., 10., 10.,  9., 10.,
       10.,  7.,  9., 10.,  1., 10.,  7.,  1., 10.,  9., 10., 10., 10.,
       10.,  1.,  7., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
        9., 10., 10., 10.,  9., 10., 10., 10., 10., 10.,  1., 10.,  9.,
        9., 10., 10.,  1., 10., 10., 10., 10.,  9.,  9., 10., 10., 10.,
       10., 10., 10., 10., 10., 10.,  8., 10., 10., 10., 10., 10., 10.,
       10.,  1.,  9., 10.,  1., 10., 10.,  7.,  1., 10.,  7.,  8.,  9.,
        7.,  7., 10.,  8., 10.,  9.,  1., 10.,  7.,  7.,  9.,  9.,  1.,
        9.,  9., 10., 10., 10.,  7.,  1., 10., 10., 10., 10., 10., 10.,
       10., 10.,  1., 10., 10.,  1., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10.,  1., 10., 10., 10.,  1., 10.,  1.,  1., 10.,
        1., 10.,  1.,  1.,  1., 10.,  1.,  7.,  1.,  7.,  7.,  1., 10.,
        1., 10.,  1.,  1.])

In [69]:
gbm = GradientBoostingClassifier(learning_rate=0.01,n_estimators=500)

In [70]:
gbm.fit(tfidf_mat_train,y_train)

GradientBoostingClassifier(learning_rate=0.01, n_estimators=500)

In [72]:
gbm_pred = lr.predict(tfidf_mat_val)

In [73]:
cohen_kappa_score(gbm_pred, y_val)

0.24551651948086373

In [100]:
gbm_pred_test = gbm.predict(tfidf_mat_test)

In [101]:
gbm_pred_test

array([10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
       10.,  1., 10., 10., 10.,  9.,  3., 10., 10., 10., 10., 10.,  9.,
        1.,  1.,  1.,  6.,  1., 10.,  1., 10.,  3., 10.,  5., 10., 10.,
       10.,  1.,  1.,  1.,  4.,  1.,  1., 10.,  1.,  1., 10.,  1.,  4.,
       10.,  5., 10., 10.,  7., 10., 10., 10., 10., 10., 10., 10., 10.,
       10., 10.,  9., 10.,  8.,  9.,  9.,  8., 10.,  9., 10., 10., 10.,
        8.,  8.,  1., 10., 10., 10.,  4.,  8., 10., 10., 10., 10.,  9.,
       10., 10.,  7., 10., 10., 10., 10., 10.,  2., 10., 10.,  7., 10.,
       10.,  9., 10., 10., 10.,  8.,  1.,  5., 10., 10., 10., 10., 10.,
       10., 10., 10., 10.,  9., 10.,  8.,  8.,  1., 10., 10.,  2., 10.,
       10.,  3., 10.,  7., 10.,  9., 10.,  5.,  6., 10., 10., 10., 10.,
       10.,  3.,  9.,  4.,  1.,  1., 10., 10.,  8., 10., 10., 10.,  8.,
        8., 10., 10.,  7., 10.,  9.,  7.,  1.,  1., 10., 10.,  9., 10.,
        7.,  1., 10.,  9.,  9., 10.,  1., 10., 10., 10.,  7., 10.,  9.,
       10., 10., 10., 10.,  1.,  9.,  6., 10., 10., 10.,  1.,  2., 10.,
       10.,  5.,  7., 10., 10., 10.,  1.,  8.,  7., 10., 10.,  5., 10.,
       10.,  9., 10., 10., 10., 10., 10., 10.,  1., 10., 10., 10.,  3.,
        1.,  2., 10., 10., 10., 10., 10., 10.,  1.,  4., 10.,  7.,  8.,
       10., 10.,  3., 10., 10.,  2., 10., 10.,  1., 10.,  7.,  1.,  9.,
       10., 10., 10., 10., 10., 10., 10.,  1., 10.,  9.,  5., 10., 10.,
        7.,  9.,  9., 10., 10., 10., 10., 10.,  7., 10., 10.,  9., 10.,
       10., 10.,  7.,  8.,  9.,  9.,  9.,  3., 10., 10.,  1.,  8.,  8.,
        7., 10.,  8., 10., 10.,  8.,  8., 10.,  9.,  9., 10., 10., 10.,
       10., 10., 10.,  7., 10., 10., 10., 10.,  8., 10., 10., 10.,  7.,
       10., 10.,  7., 10., 10., 10., 10.,  7., 10.,  1., 10., 10., 10.,
        8., 10., 10., 10., 10., 10.,  1., 10., 10., 10.,  8., 10., 10.,
        9.,  9.,  9., 10., 10.,  1., 10., 10., 10., 10., 10., 10.,  1.,
       10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10., 10., 10., 10., 10.,  1., 10., 10., 10.,  1.,
       10., 10.,  6.,  4.,  2., 10.,  7., 10.,  7.,  1.,  1.,  1., 10.,
        3., 10.,  1.,  1.])

In [74]:
from sklearn.decomposition import TruncatedSVD

In [75]:
svd_new = TruncatedSVD(n_components=200)

In [76]:
word_vec = svd_new.fit_transform(tfidf_mat_train.T)

In [77]:
word_vec.shape

(5945, 200)

In [78]:
tfidf.vocabulary_

{'will': 5832,
 'win': 5836,
 'oscar': 3700,
 'worst': 5898,
 'scenario': 4565,
 'director': 1464,
 'godfather': 2297,
 'probably': 4038,
 'perfect': 3819,
 'made': 3180,
 'strong': 5074,
 'plot': 3915,
 'unique': 5593,
 'cast': 757,
 'direction': 1461,
 'filming': 2043,
 'editing': 1649,
 'beyond': 504,
 'words': 5884,
 'music': 3475,
 'makes': 3196,
 'blend': 533,
 'great': 2343,
 'movies': 3449,
 'course': 1167,
 'lack': 2957,
 'one': 3664,
 'two': 5537,
 'things': 5328,
 'mentioned': 3313,
 'difficult': 1442,
 'match': 3255,
 'francis': 2163,
 'coppola': 1126,
 'part': 3779,
 'ii': 2612,
 'may': 3272,
 'masterpiece': 3252,
 'watch': 5768,
 'never': 3533,
 'bored': 581,
 'always': 176,
 'surprised': 5181,
 'wonderful': 5874,
 'see': 4624,
 'young': 5931,
 'al': 143,
 'pacino': 3742,
 'change': 798,
 'college': 951,
 'boy': 600,
 'ruthless': 4502,
 'making': 3198,
 'even': 1798,
 'marlon': 3234,
 'brando': 607,
 'title': 5401,
 'role': 4457,
 'albeit': 147,
 'small': 4843,
 'underrated': 5565,
 'actor': 66,
 'robert': 4446,
 'duvall': 1617,
 'tom': 5410,
 'hagen': 2404,
 'rate': 4190,
 'balance': 415,
 'properly': 4077,
 'reviews': 4407,
 'good': 2309,
 'impossible': 2651,
 'flies': 2094,
 'source': 4911,
 'matrix': 3263,
 'inception': 2667,
 'rip': 4431,
 'comes': 968,
 'years': 5925,
 'late': 2983,
 'chance': 795,
 'consider': 1063,
 'original': 3696,
 'well': 5804,
 'soundtrack': 4910,
 'cinematography': 874,
 'none': 3571,
 'effects': 1658,
 'pretty': 4020,
 'jaw': 2845,
 'dropping': 1592,
 'complex': 1011,
 'intelligent': 2749,
 'nolan': 3563,
 'academy': 27,
 'award': 385,
 'fair': 1940,
 'recommend': 4249,
 'people': 3812,
 'hype': 2590,
 'catch': 763,
 "nolan's": 3564,
 'marketing': 3231,
 'christopher': 863,
 'done': 1530,
 'work': 5885,
 'ideas': 2600,
 'gave': 2235,
 'new': 3535,
 'life': 3064,
 'beloved': 484,
 'superhero': 5161,
 'batman': 441,
 'film': 2040,
 'dark': 1273,
 'knight': 2940,
 'recognized': 4248,
 'dimensions': 1453,
 'added': 81,
 'classic': 893,
 'series': 4666,
 'comics': 971,
 'nothing': 3592,
 'dull': 1608,
 'linear': 3088,
 'surrounded': 5189,
 'supposed': 5172,
 'convoluted': 1115,
 'storyline': 5049,
 'scattered': 4564,
 'across': 57,
 'multiple': 3458,
 'levels': 3055,
 'essence': 1784,
 'puzzle': 4136,
 'forces': 2121,
 'viewer': 5682,
 'think': 5329,
 'decipher': 1315,
 'ending': 1714,
 'concept': 1028,
 'plots': 3917,
 'worked': 5886,
 'films': 2048,
 'space': 4914,
 'odyssey': 3641,
 'run': 4493,
 'total': 5432,
 'recall': 4236,
 'miserably': 3374,
 'fails': 1937,
 'lacks': 2961,
 'places': 3882,
 'characters': 812,
 'actors': 67,
 'many': 3223,
 'decades': 1306,
 'came': 703,
 'lacked': 2958,
 'sense': 4649,
 'emotion': 1693,
 'sort': 4901,
 'sir': 4802,
 'michael': 3334,
 'caine': 692,
 'performances': 3824,
 'appalling': 252,
 'team': 5260,
 'dreamers': 1572,
 'screen': 4593,
 'dynamics': 1622,
 'chemistry': 838,
 'action': 61,
 'dream': 1569,
 'world': 5889,
 'unimaginative': 5590,
 'within': 5860,
 'typical': 5541,
 'hollywood': 2530,
 'car': 730,
 'cash': 755,
 'scenes': 4569,
 'heroes': 2494,
 'drive': 1582,
 'shoot': 4733,
 'building': 661,
 'shootouts': 4735,
 'melodramatic': 3300,
 'bullet': 666,
 'character': 806,
 'critically': 1214,
 'must': 3477,
 'save': 4545,
 'still': 5031,
 'fight': 2029,
 'easily': 1638,
 'hour': 2564,
 'rolling': 4462,
 "inception's": 2668,
 'obvious': 3627,
 'mins': 3364,
 'self': 4638,
 'substance': 5112,
 'draw': 1561,
 'overly': 3728,
 'complicated': 1014,
 'piece': 3868,
 'effect': 1655,
 'trying': 5521,
 'achieve': 50,
 'main': 3186,
 'story': 5048,
 'line': 3087,
 'excessive': 1833,
 'whimsical': 5818,
 'credit': 1196,
 'notable': 3586,
 'mention': 3312,
 'managed': 3206,
 'style': 5098,
 'scene': 4567,
 'overdone': 3722,
 'early': 1630,
 's': 4503,
 'rave': 4197,
 'make': 3193,
 'takes': 5230,
 'place': 3880,
 'limitless': 3085,
 'clich': 905,
 'repetitive': 4341,
 'dimensional': 1452,
 'drawn': 1565,
 'pretends': 4017,
 'perhaps': 3828,
 'true': 5515,
 'intent': 2755,
 'aimed': 136,
 'strictly': 5068,
 "today's": 5405,
 'generation': 2247,
 'feel': 2008,
 'smart': 4846,
 'compared': 993,
 'class': 892,
 'presentation': 4009,
 'student': 5087,
 'hide': 2500,
 'uses': 5638,
 'logic': 3118,
 'pass': 3788,
 'time': 5388,
 'knows': 2948,
 'wasted': 5764,
 'several': 4684,
 'minutes': 3367,
 'talking': 5239,
 'subject': 5103,
 'explained': 1876,
 'seconds': 4617,
 'nonetheless': 3572,
 'used': 5633,
 'big': 507,
 'talked': 5238,
 'deemed': 1319,
 'mainstream': 3188,
 'gives': 2276,
 'standing': 4983,
 'regardless': 4281,
 'extremely': 1915,
 'funny': 2201,
 'although': 174,
 'seems': 4632,
 'stolen': 5035,
 'manages': 3207,
 'pull': 4109,
 'job': 2852,
 'believable': 477,
 'consistently': 1070,
 'throughout': 5363,
 'undeniably': 5560,
 'best': 499,
 'scrat': 4586,
 'whenever': 5814,
 'help': 2484,
 'bust': 679,
 'laughing': 2991,
 'bad': 409,
 'include': 2671,
 'mammoth': 3202,
 'manny': 3221,
 'ray': 4199,
 'romano': 4464,
 'sid': 4765,
 'sloth': 4837,
 'john': 2858,
 'leguizamo': 3035,
 'diego': 1435,
 'saber': 4504,
 'tooth': 5421,
 'tiger': 5382,
 'dennis': 1360,
 'leary': 3018,
 'apparently': 254,
 'appropriate': 273,
 'manage': 3205,
 'laughs': 2992,
 'pale': 3756,
 'comparison': 995,
 'sometimes': 4886,
 'annoying': 221,
 'overall': 3718,
 'three': 5353,
 'plenty': 3913,
 'including': 2674,
 'group': 2371,
 'apocalyptic': 249,
 'dodos': 1520,
 'amusing': 200,
 'trip': 5504,
 'ice': 2595,
 'cave': 774,
 'final': 2049,
 "diego's": 1436,
 'pack': 3744,
 'parts': 3786,
 'feels': 2011,
 'something': 4884,
 'lion': 3094,
 'king': 2933,
 'baby': 400,
 'lifted': 3070,
 'monsters': 3407,
 'inc': 2665,
 'furthermore': 2203,
 'voice': 5714,
 'talents': 5235,
 'wish': 5855,
 'pixar': 3879,
 'mine': 3358,
 'creative': 1189,
 'depths': 1375,
 'staff': 4973,
 'opposed': 3682,
 'going': 2304,
 'large': 2974,
 'scale': 4553,
 'voices': 5716,
 'excellent': 1825,
 'animated': 213,
 'robots': 4450,
 'day': 1287,
 'gangster': 2225,
 'science': 4573,
 'fiction': 2023,
 'stanley': 4986,
 'kubrick': 2951,
 'ford': 2122,
 're': 4201,
 'degree': 1337,
 'reinvented': 4287,
 'basic': 436,
 'pulp': 4113,
 'entertainment': 1749,
 'genre': 2253,
 'using': 5639,
 'vehicle': 5658,
 'high': 2502,
 'artistic': 307,
 'ambitions': 188,
 'post': 3964,
 'wave': 5779,
 'auteur': 367,
 'focus': 2101,
 'th': 5306,
 'century': 783,
 'american': 193,
 'civilization': 882,
 "kubrick's": 2952,
 'philosophical': 3852,
 'human': 2575,
 'evolution': 1815,
 'shapes': 4705,
 'corleone': 1132,
 'mafia': 3181,
 'family': 1954,
 'epic': 1762,
 'vision': 5701,
 'business': 677,
 'government': 2325,
 'justice': 2894,
 'moral': 3416,
 "godfather's": 2299,
 'brilliantly': 627,
 'constructed': 1076,
 'opening': 3671,
 'sequence': 4663,
 'wedding': 5796,
 'don': 1528,
 "corleone's": 1133,
 'daughter': 1282,
 'establishes': 1789,
 "don's": 1529,
 'nature': 3507,
 'sicilian': 4761,
 'tradition': 5451,
 'sons': 4893,
 'natural': 3505,
 'adopted': 96,
 'relationship': 4293,
 'legitimate': 3033,
 'society': 4865,
 'instance': 2735,
 "film's": 2041,
 'bonasera': 568,
 'favor': 1989,
 'whose': 5824,
 'first': 2067,
 'believe': 478,
 'america': 191,
 'fortune': 2145,
 'turns': 5528,
 'contradiction': 1095,
 'go': 2293,
 'numerous': 3611,
 'subsequent': 5110,
 'lines': 3090,
 'dialog': 1423,
 'establish': 1787,
 'literal': 3101,
 'metaphorical': 3328,
 'connections': 1052,
 'criminal': 1207,
 'underworld': 5575,
 'social': 4864,
 'memorable': 3304,
 'ones': 3666,
 'father': 1984,
 'different': 1440,
 'powerful': 3976,
 'man': 3203,
 'power': 3974,
 'now': 3599,
 'gambling': 2218,
 'narcotics': 3494,
 'thing': 5327,
 'future': 2207,
 'risk': 4437,
 'everything': 1808,
 'mean': 3279,
 'ten': 5288,
 'personal': 3835,
 'sonny': 4891,
 'gonna': 2308,
 'offer': 3646,
 'refuse': 4274,
 'refers': 4269,
 'youngest': 5933,
 'son': 4889,
 'ultimate': 5546,
 'successor': 5127,
 "brando's": 608,
 'performance': 3823,
 'awarded': 386,
 'balances': 417,
 'subtly': 5118,
 'counter': 1159,
 'pointed': 3925,
 'functions': 2197,
 'patriarch': 3800,
 'brutal': 645,
 'crime': 1205,
 'boss': 585,
 'yet': 5929,
 'significantly': 4776,
 'affected': 112,
 'played': 3902,
 'brilliance': 625,
 'unknown': 5600,
 'protagonist': 4083,
 "michael's": 3335,
 'frantic': 2166,
 'call': 697,
 'taking': 5231,
 'picture': 3866,
 'without': 5861,
 'war': 5750,
 'hero': 2492,
 'uniform': 5589,
 'meanwhile': 3286,
 'busy': 680,
 'girl': 2270,
 'friend': 2178,
 'second': 4614,
 'wife': 5828,
 'kay': 2905,
 'diane': 1428,
 'keaton': 2906,
 'luca': 3163,
 'brasi': 609,
 'held': 2481,
 'gun': 2392,
 'band': 424,
 'head': 2461,
 'relates': 4290,
 'assured': 334,
 'either': 1674,
 'signature': 4773,
 'brains': 605,
 'release': 4298,
 'initial': 2716,
 'activities': 64,
 'reserved': 4365,
 'hot': 2562,
 'headed': 2463,
 'james': 2837,
 'caan': 688,
 'events': 1801,
 'suck': 5128,
 'keep': 2908,
 'sucking': 5130,
 'right': 4424,
 'iii': 2613,
 'assassination': 322,
 'attempt': 349,
 'response': 4378,
 'bomb': 564,
 'meant': 3285,
 'kills': 2929,
 'beauty': 458,
 'apollonia': 251,
 'named': 3489,
 'god': 2296,
 'sun': 5153,
 'light': 3071,
 'riddled': 4419,
 'body': 559,
 'brother': 639,
 'inevitably': 2700,
 'morally': 3418,
 'end': 1711,
 'acts': 71,
 'seal': 4604,
 'doom': 1534,
 'villainous': 5693,
 'tragic': 5454,
 'shot': 4743,
 'mainly': 3187,
 'location': 3115,
 'various': 5655,
 'york': 5930,
 'city': 880,
 'locales': 3114,
 'spans': 4919,
 'year': 5923,
 'period': 3829,
 'multitude': 3459,
 'props': 4082,
 'costumes': 1153,
 'pop': 3940,
 'culture': 1241,
 'art': 303,
 'production': 4050,
 'designer': 1389,
 'lend': 3036,
 'rich': 4414,
 'historical': 2517,
 'authenticity': 369,
 'en': 1707,
 'moreover': 3419,
 'lighting': 3072,
 'brilliant': 626,
 'cinematographer': 873,
 'gordon': 2315,
 'darkness': 1275,
 'willis': 5835,
 'contributes': 1100,
 'greatly': 2346,
 'realism': 4217,
 'thematic': 5318,
 'symbolism': 5217,
 'compare': 992,
 'use': 5632,
 'color': 952,
 'interior': 2769,
 'especially': 1781,
 'home': 2534,
 'office': 3650,
 'lit': 3100,
 'landscape': 2970,
 'edited': 1647,
 'invisible': 2804,
 'technique': 5272,
 'needs': 3520,
 'narrative': 3496,
 'visual': 5707,
 'continuity': 1091,
 'expertly': 1873,
 'particular': 3782,
 'might': 3341,
 'note': 3589,
 'stunning': 5094,
 'parallel': 3769,
 'occurs': 3635,
 'last': 2978,
 'heads': 2465,
 'planned': 3890,
 'baptism': 428,
 'sister': 4803,
 "connie's": 1054,
 'child': 842,
 'likewise': 3080,
 'combination': 957,
 'little': 3104,
 'christmas': 862,
 'lush': 3170,
 'operatic': 3675,
 'score': 4580,
 'composed': 1017,
 'greatest': 2345,
 'nino': 3553,
 'rota': 4475,
 'frequent': 2175,
 'ambitious': 189,
 'sequel': 4661,
 'pushed': 4129,
 'released': 4299,
 'grip': 2358,
 'code': 941,
 'criminals': 1208,
 'found': 2151,
 'examples': 1822,
 'scarface': 4557,
 'public': 4107,
 'enemy': 1722,
 'sexual': 4687,
 'violent': 5696,
 'imagery': 2620,
 'specifically': 4931,
 'required': 4356,
 'portrayed': 3952,
 'involving': 2810,
 'resolved': 4369,
 'explicit': 1881,
 'lesson': 3046,
 'pay': 3803,
 'fortunately': 2144,
 'popular': 3944,
 'way': 5781,
 "generation's": 2248,
 'worth': 5899,
 'masterpieces': 3253,
 'ranging': 4182,
 'remake': 4317,
 'sopranos': 4898,
 'number': 3608,
 'top': 5423,
 'considered': 1066,
 'portrayal': 3951,
 'vito': 5711,
 'simply': 4791,
 'unforgettable': 5584,
 'finest': 2057,
 'mario': 3226,
 "puzo's": 4135,
 'superb': 5158,
 'novel': 3597,
 'breathtaking': 619,
 'fashion': 1977,
 'upon': 5624,
 'knew': 2938,
 'special': 4926,
 'expected': 1861,
 'result': 4383,
 'superior': 5163,
 'sit': 4804,
 'defending': 1327,
 'colossal': 955,
 'definitive': 1335,
 'inside': 2726,
 'thoughts': 5344,
 'give': 2274,
 'us': 5630,
 'martin': 3237,
 "scorsese's": 4584,
 'every': 1803,
 'measured': 3288,
 "'the": 10,
 "godfather'": 2298,
 'created': 1185,
 'essentially': 1786,
 'whole': 5822,
 'follow': 2109,
 'stereotypes': 5023,
 'arguably': 284,
 'acting': 60,
 'history': 2518,
 'amount': 198,
 'achievements': 53,
 'contains': 1081,
 'spoiler': 4955,
 'honest': 2536,
 'seen': 4633,
 'deserve': 1382,
 'rank': 4183,
 'imdb': 2630,
 'alongside': 166,
 'really': 4226,
 'insulting': 2741,
 'average': 379,
 'unnecessarily': 5605,
 'long': 3127,
 'bland': 528,
 'horrific': 2553,
 'poorly': 3939,
 'written': 5914,
 'acted': 59,
 'downright': 1545,
 'terrible': 5296,
 'talk': 5237,
 'much': 3453,
 'wasting': 5765,
 'point': 3924,
 'awful': 394,
 'morgue': 3421,
 'bring': 628,
 'dead': 1292,
 "man's": 3204,
 'penis': 3810,
 'full': 2193,
 'view': 5680,
 'audience': 361,
 'reason': 4229,
 'given': 2275,
 'lol': 3124,
 'thanks': 5309,
 'unfunny': 5587,
 'comedy': 967,
 'subjected': 5104,
 'lovely': 3152,
 'party': 3787,
 'unseen': 5612,
 'infamous': 2701,
 'worse': 5897,
 'previously': 4026,
 'olympic': 3661,
 'gold': 2305,
 'medal': 3291,
 'winning': 5844,
 'athlete': 342,
 'absolutely': 19,
 'fantastic': 1963,
 'writing': 5913,
 'speaking': 4924,
 'shows': 4755,
 'called': 698,
 'looking': 3132,
 'another': 223,
 "character's": 807,
 'boobs': 571,
 'jump': 2885,
 'attention': 353,
 'omg': 3662,
 'looked': 3131,
 "guy's": 2397,
 'u': 5543,
 'got': 2320,
 'guess': 2386,
 'joke': 2866,
 'useless': 5635,
 'dedicated': 1318,
 'stuck': 5086,
 'beach': 448,
 'chair': 790,
 'oh': 3654,
 'left': 3028,
 'changed': 799,
 'except': 1828,
 'forced': 2120,
 'spoilers': 4956,
 'kill': 2924,
 'guy': 2396,
 'live': 3105,
 'happily': 2434,
 'yes': 5927,
 'damn': 1265,
 'generic': 2250,
 'said': 4516,
 'getting': 2260,
 'waste': 5763,
 'already': 168,
 'enough': 1739,
 'telling': 5284,
 'read': 4209,
 'negative': 3522,
 'star': 4987,
 'rating': 4194,
 'mr': 3451,
 'rock': 4451,
 'mud': 3454,
 "audience's": 362,
 'watching': 5773,
 'narcos': 3493,
 'game': 2219,
 'thrones': 5362,
 'indian': 2688,
 'web': 5794,
 'roles': 4458,
 'store': 5044,
 'evolved': 1817,
 'around': 295,
 'keeps': 2910,
 'hooked': 2541,
 'episodes': 1764,
 'execution': 1842,
 'delightful': 1343,
 'experience': 1867,
 'saif': 4517,
 'ali': 152,
 'khan': 2916,
 'far': 1967,
 'career': 735,
 'episode': 1763,
 'etc': 1792,
 'relate': 4288,
 'situations': 4808,
 'happening': 2432,
 'outstanding': 3715,
 'treat': 5485,
 'fine': 2056,
 'giving': 2277,
 'stars': 4994,
 'value': 5650,
 'wondering': 5876,
 'sentimental': 4658,
 'd': 1257,
 'known': 2947,
 'laws': 2998,
 'physics': 3860,
 'universe': 5598,
 'earn': 1631,
 'status': 5008,
 'say': 4550,
 'necessarily': 3515,
 'referring': 4268,
 'worm': 5892,
 'holes': 2528,
 'travel': 5480,
 'simple': 4788,
 'driving': 1587,
 'truck': 5514,
 'flat': 2082,
 'tire': 5396,
 'corn': 1135,
 'fields': 2026,
 'premise': 3999,
 'built': 665,
 'put': 4131,
 'alert': 150,
 'try': 5520,
 'spoil': 4953,
 'fascinating': 1975,
 'messages': 3324,
 'standard': 4981,
 'ok': 3656,
 'watched': 5770,
 'generally': 2243,
 'agree': 126,
 'ratings': 4195,
 'current': 1247,
 'saying': 4551,
 'belong': 482,
 'hope': 2543,
 'pun': 4117,
 'intended': 2751,
 'avenger': 376,
 'infinity': 2705,
 'crap': 1178,
 'totally': 5433,
 'mcu': 3278,
 'hyped': 2591,
 'lame': 2965,
 'thanos': 5310,
 'villain': 5692,
 'stupid': 5096,
 'cgi': 788,
 'holland': 2529,
 'spiderman': 4942,
 'please': 3909,
 'blockbuster': 541,
 'teen': 5277,
 'dvd': 1618,
 'better': 503,
 'yeah': 5922,
 'climax': 914,
 'weird': 5802,
 'love': 3150,
 'astrophysics': 341,
 'disliked': 1495,
 'start': 4995,
 'slow': 4839,
 'hard': 2436,
 'stay': 5009,
 'awake': 384,
 'half': 2410,
 'somewhat': 4887,
 'felt': 2015,
 'cheap': 827,
 'stands': 4985,
 'maybe': 3273,
 'audiences': 363,
 'lost': 3143,
 'notion': 3596,
 'quality': 4140,
 'ah': 129,
 'wait': 5729,
 'next': 3542,
 'deeply': 1323,
 'disappointed': 1473,
 'interstellar': 2776,
 'budget': 655,
 'million': 3351,
 'baywatch': 447,
 'thought': 5342,
 'surely': 5176,
 'know': 2944,
 'unnecessary': 5606,
 'jokes': 2868,
 'heard': 2467,
 'times': 5392,
 'looks': 3133,
 'running': 4495,
 'motion': 3430,
 'horror': 2556,
 'describe': 1378,
 'zac': 5939,
 'efron': 1663,
 'hate': 2448,
 'general': 2242,
 'five': 2075,
 'born': 584,
 'least': 3019,
 'online': 3667,
 'criticisms': 1216,
 'aware': 388,
 'chris': 861,
 'raw': 4198,
 'talent': 5233,
 'memento': 3303,
 'broke': 634,
 'onto': 3668,
 'decade': 1305,
 'ago': 125,
 'provided': 4094,
 'spectacle': 4932,
 'rare': 4187,
 'dumbfounded': 1612,
 'gained': 2214,
 'huge': 2571,
 'popularity': 3945,
 'franchise': 2161,
 'modern': 3397,
 'cinema': 870,
 'genius': 2252,
 'prestige': 4013,
 'quite': 4155,
 'prepared': 4002,
 'script': 4601,
 'pure': 4122,
 'complexity': 1013,
 'encountered': 1709,
 'lifetime': 3068,
 'superbly': 5159,
 'ensemble': 1740,
 "dicaprio's": 1430,
 'seeing': 4626,
 'shutter': 4758,
 'island': 2822,
 'truly': 5516,
 'currently': 1248,
 'working': 5887,
 'joseph': 2872,
 'levitt': 3056,
 'hardy': 2441,
 'ellen': 1682,
 'page': 3747,
 'back': 401,
 'sequences': 4664,
 'play': 3900,
 'wonderfully': 5875,
 'along': 165,
 'comic': 969,
 'relief': 4306,
 'stories': 5045,
 'whilst': 5817,
 'remain': 4313,
 'rooted': 4472,
 'emotional': 1694,
 'stakes': 4978,
 'immense': 2637,
 ...}

In [80]:
tfidf.vocabulary_["hulk"]

2574

In [90]:
word_vec

array([[ 0.15341444, -0.02463582, -0.02718272, ...,  0.00109419,
        -0.05065349, -0.02814008],
       [ 0.00989461, -0.00480574, -0.00755533, ...,  0.00148157,
        -0.00720812, -0.00596217],
       [ 0.03564646,  0.00441864,  0.01405929, ..., -0.00951835,
        -0.03433283,  0.01355871],
       ...,
       [ 0.11525088, -0.05926002, -0.07436446, ..., -0.00868813,
        -0.07356336, -0.00358733],
       [ 0.05436367, -0.03157827, -0.04066125, ..., -0.00594533,
         0.00352116,  0.01537471],
       [ 0.02564565, -0.01302981, -0.00806254, ...,  0.00934437,
        -0.00089071,  0.00172797]])

In [ ]:
word_vec[2574,:].reshape(1,-1)

In [82]:
from sklearn.metrics import pairwise_distances

In [92]:
dist_hulk = pairwise_distances(X=word_vec,Y=word_vec[2574,:].reshape(1,-1),metric = "cosine")

In [93]:
dist_hulk.flatten().argsort()

array([2574, 5337, 2812, ..., 3583, 2269, 1602])

In [94]:
id_to_word = { v:k for k,v in tfidf.vocabulary_.items()}

In [96]:
id_to_word[5337]

'thor'

In [97]:
id_to_word[2812]

'iron'